.circle-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 600px;
  perspective: 1000px;
}

.circle-slider img {
  width: 100px;
  margin: 0 10px;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
  filter: brightness(0.7);
}

.circle-slider img.active {
  transform: scale(1.5);
  filter: brightness(1);
}
