.swiper {
  width: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
}

.swiper-wrapper {
  width: 100% !important;
  height: 100% !important;
}

/* This resize the images in the slider and align and justify them center */
.swiper-slide {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: #1E293B !important;   /*provides a background color around the buttons*/
  color: white !important;
  padding: 12px 16px !important;
  cursor: pointer !important;
  font-size: 18px !important;
  border-radius: 4px !important;
  z-index: 10 !important;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;  /*The button will be centered vertically and remove the default margin-top*/
  transition: background-color 0.3s ease !important;
  border: 1px solid rgba(255, 255, 255, 0.9) !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #1E5AA8  !important;
}
